/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 300; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3em solid #FF9922;
  margin: 2em 0 2em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
nav.pagination {
  padding-top: 4em;
  text-align: center;
  margin: 0 0 2em 0; }
  nav.pagination a {
    padding: 2px 6px;
    margin-right: 0.2em;
    text-decoration: none;
    border: 0; }
  nav.pagination a:hover {
    text-decoration: none;
    background: #ff9922;
    border-color: #ff9922;
    color: white;
    text-shadow: none; }
  nav.pagination a[rel=next]:hover, nav.pagination a[rel=prev]:hover {
    background: none;
    text-decoration: underline;
    color: #ff9922; }
  nav.pagination span {
    padding: 2px 6px;
    margin-right: 0.2em; }
  nav.pagination span.gap {
    padding: 2px;
    color: #666666; }
  nav.pagination span.disabled {
    color: #aaa; }
  nav.pagination em {
    padding: 4px 8px; }
  @media all and (max-width: 660px) {
    nav.pagination a, nav.pagination span.gap {
      display: none;
      margin: 0; }
    nav.pagination a.prev, nav.pagination a.next {
      display: inline; } }

article {
  margin-bottom: 3em; }
  article header {
    margin-bottom: 1em; }

.blog-entry h1 {
  font-weight: 200;
  margin-bottom: 0; }
  .blog-entry h1 a {
    color: #222222; }
    .blog-entry h1 a:hover {
      color: #ff9922; }
.blog-entry p {
  margin-top: 0; }
.blog-entry .tag, .blog-entry .post-date, .blog-entry .post-tags {
  color: #666666;
  word-wrap: nowrap;
  font-size: 0.9em; }
  .blog-entry .tag p, .blog-entry .post-date p, .blog-entry .post-tags p {
    margin: 0;
    padding: 0; }
.blog-entry a.tag:before {
  content: "#"; }
.blog-entry .post-date {
  float: right; }
.blog-entry a {
  color: #ff9922; }
.blog-entry .grid-row {
  width: 100%; }
.blog-entry .grid-span img {
  width: 100%; }

/* ========================================================
    // General //
   ===================================================== */
.wrapper {
  margin: 0 5%;
  width: 90%; }

h4 {
  margin: 0; }

.email {
  color: #ff9922; }

img {
  width: 100%; }

a {
  color: #ff9922;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

a.twitter-user:before {
  content: "@"; }

/* ========================================================
    // Mobile Menue //
   ===================================================== */
#logo img {
  width: 280px; }

.header-container {
  margin-bottom: 1em; }

nav.site-navigation ul {
  margin: 0;
  padding: 0; }
nav.site-navigation a {
  display: block;
  margin-bottom: 10px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  color: #666666;
  background: #dddddd; }
  nav.site-navigation a:hover {
    color: #ff9922;
    text-decoration: none;
    background-color: #666666; }
  nav.site-navigation a.selected {
    color: white;
    background-color: #666666; }

/* ========================================================
    // Mobile Footer //
   ===================================================== */
footer {
  color: #aa9885;
  text-align: center;
  font-size: 0.9em; }
  footer a {
    color: #aa9885; }

/* ========================================================
    // Mobile Landingpage //
   ===================================================== */
.about, .meeting, .interest {
  margin-bottom: 2em; }
  .about h1, .about p, .meeting h1, .meeting p, .interest h1, .interest p {
    padding: 0;
    margin: 0; }
  .about h1, .meeting h1, .interest h1 {
    vertical-align: bottom;
    color: #ff9922;
    font-weight: 100; }

.members-container, .team-container {
  background-color: #f5ede3;
  padding-bottom: 3em; }

.members, .team {
  color: #aa9885; }
  .members .member-card-container, .team .member-card-container {
    min-height: 75px;
    width: 100%; }
  .members p, .team p {
    padding: 1em 0 0 0;
    margin: 0; }
  .members h1, .team h1 {
    font-size: 2.5em;
    text-align: center; }
  .members h3, .team h3 {
    font-weight: 300;
    text-align: center; }
  .members ul, .team ul {
    padding: 0; }
  .members li, .team li {
    border-top: 1px dotted #aa9885;
    font-size: 0.9em;
    list-style: none;
    padding: 1em 0 1em 0;
    margin-bottom: 1em; }
    .members li img, .team li img {
      float: right; }
  .members a.twitter-user, .team a.twitter-user {
    font-weight: 200;
    color: #aa9885; }
  .members img, .team img {
    width: 75px;
    -moz-border-radius: 40px;
    border-radius: 40px; }

/* ========================================================
    // Mobile Imprint //
   ===================================================== */
.imprint {
  margin-top: 3em; }
  .imprint p {
    margin: 0.5em 0 0 0; }
  .imprint h2 {
    color: #ff9922;
    font-weight: 200;
    font-size: 2.5em; }
  .imprint h3 {
    margin: 1em 0 0; }
  .imprint address {
    padding-top: 0.5em; }
    .imprint address p {
      margin: 0; }

.team {
  margin-top: 5em; }
  .team li {
    float: left;
    list-style: none;
    padding: 1em 1em; }
    .team li div {
      float: left; }
    .team li .team-image {
      margin-right: 1em; }
  .team img.team-avatar {
    width: 120px;
    -moz-border-radius: 10px;
    border-radius: 10px; }

/* ========================================================
    // Media Queries //
   ===================================================== */
@media screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  nav.site-navigation a {
    float: left;
    width: 44%;
    margin: 0 1.7%;
    padding: 15px 2%;
    margin-bottom: 0; }
  nav.site-navigation li:first-child a {
    margin-left: 0; }
  nav.site-navigation li:last-child a {
    margin-right: 0; }

  /* ====================
     INTERMEDIATE: About etc
  ==================== */
  .about h1, .meeting h1, .interest h1 {
    font-size: 3em; }

  .members li {
    float: left;
    padding: 2% 3%;
    width: 40%;
    border: none; }
    .members li img {
      float: left;
      margin-right: 2%; }

  .footer-container {
    margin: 2em 0; }
    .footer-container footer .footer_copyright {
      float: left; }
    .footer-container footer .footer_imprint-contact-legal {
      float: right; } }
@media screen and (min-width: 768px) {
  .content-container {
    margin-top: 3em; }

  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  div#logo {
    float: right; }

  nav.site-navigation a {
    width: 15%;
    padding: 20px 1% 7px; }

  /* ====================
    INTERMEDIATE: About etc
   ==================== */
  .about, .meeting, .interest {
    margin-bottom: 3em; }
    .about h1, .meeting h1, .interest h1 {
      font-size: 3.5em; }

  .members li {
    float: left;
    padding: 2% 3%;
    width: 27%;
    border: none; }
    .members li img {
      float: left;
      margin-right: 2%; }

  .grid-left {
    float: left;
    width: 44%;
    text-align: right; }

  .grid-right {
    width: 54%;
    float: right; } }
@media screen and (min-width: 1024px) {
  /* ====================
      INTERMEDIATE: General
     ==================== */
  .content-container {
    margin-top: 4.54em; }

  .wrapper {
    margin: auto;
    max-width: 1070px; }

  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  nav.site-navigation a {
    width: 10%; }

  /* ====================
    INTERMEDIATE: About etc
   ==================== */
  .about, .meeting, .interest {
    margin-bottom: 4em; }
    .about h1, .meeting h1, .interest h1 {
      font-size: 5em; } }
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
