
@media only screen and (min-width: 400px) {
#logo {
      float: right;
      margin-top: 0.6em;
      object {
          width:100px;
      }
    }

}


@media screen and (min-width: 768px) {
    .wrapper {
      width: 1026px; /* 1140px - 10% for margins */
    }
    .grid-span{
        margin-left: 1em;
        margin-right: 1em;
        float:left;
        width:45%%;
    }
    .switch {
      float:right;
      p {
        text-align:right;
      }
    }
    .grid-row [class*="span"]:first-child {
      margin-left: 0;
    }
    h1 {
      text-align:right;
      font-size:5.0em;
    }
    // Logo
    #logo {
      float: right;
      margin-top: 0.6em;
      object {
          width:220px;
      }
    }

}


